<!-- Карточка сотрудника -->
<link rel="stylesheet" href="../../static/css/pages/main.css">
<section class="team-card">
  <a class="team-card__back" href="#" aria-label="Назад"><img src="left__arrow.png" alt=""></a>

  <div class="team-card__avatar">
    <img src="designer_hero.png" alt="Шинкевич Диана Евгеньевна">
  </div>

  <h3 class="team-card__name">Шинкевич Диана Евгеньевна</h3>
  <div class="team-card__job">Веб‑дизайнер</div>

  <img class="team-card__shape" src="Vector.png" alt="" aria-hidden="true">
</section>