<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SIELOM.WEB | Регистрация</title>
  <link rel="stylesheet" href="../../static/css/base.css" />
  <link rel="stylesheet" href="../../static/css/pages/sign-up.css" />
</head>
<body>
  <div class="bg-glow" aria-hidden="true"></div>

  <!--  ОСНОВНОЙ КОНТЕНТ (СТРАНИЦА ВХОДА)  -->
  <main class="login-main">
    <div class="login-card">
      <!-- Логотип по центру -->
      <div class="login-logo">
        <img src="../../static/media/img/logo.png" alt="SIELOM.WEB" class="logo-img">
      </div>

      <div class="h-registration">
      <h1>РЕГИСТРАЦИЯ</h1>
      </div>

      <!-- Форма входа -->
      <form class="login-form" action="#" method="post">
        <div class="input-group">
          <input type="text" class="login-input" placeholder="Логин" required>
        </div>
        <div class="input-group">
          <input type="text" class="login-input" placeholder="Почта" required>
        </div>
        <div class="input-group">
          <input type="password" class="login-input" placeholder="Пароль" required>
        </div>
        <div class="input-group">
          <input type="password" class="login-input" placeholder="Подтвердите пароль" required>
        </div>
        <button type="submit" class="login-btn">Регистрация</button>
      </form>

      <!-- Блок "Войти с помощью" -->
      <div class="social-login">
        <div class="social-login__title">Войти с помощью</div>
        <div class="social-icons">
          <a href="#" class="social-icon">
            <img src="../../static/media/img/max-logo.png" alt="Max" class="social-icon__img">
          </a>
          <a href="#" class="social-icon">
            <img src="../../static/media/img/telegram.png" alt="Telegram" class="social-icon__img">
          </a>
          <a href="#" class="social-icon">
            <img src="../../static/media/img/vk.png" alt="VK" class="social-icon__img">
          </a>
          <a href="#" class="social-icon">
            <img src="../../static/media/img/yandex.png" alt="Yandex" class="social-icon__img">
          </a>
          <a href="#" class="social-icon">
            <img src="../../static/media/img/google.png" alt="Google" class="social-icon__img">
          </a>
        </div>
      </div>
    </div>
  </main>

  <script src="../../static/js/pages/sign-up.js"></script>
</body>
</html>